# macOS
._*
.DS_Store
*~
.swp

# Flutter/Dart
client/.dart_tool/
client/.packages
client/build/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/pubspec.lock
*.iml
.idea/

# Node
server/node_modules/
server/dist/
npm-debug.log*

# Docker
.env

# IDE
.vscode/
